<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Scuffed Tinder</title>
	<style>
        #title {
            color:hotpink;
            text-decoration-style:wavy;
            text-shadow: 2px 2px 5px pink;
            font-family: cursive;
        }

        #title:hover{
            color:deeppink
        }
    </style>
</head>

<body>
	<h1 id="title">Login</h1>
	<form action="http://localhost:3000/userPage" method="post">
        <strong>Email Address: </strong><input type="email" name="email"><br>
		<br>
		<input type="reset" value="Clear">
		<input type="submit" value="Submit">
	</form>
</body>

</html>