<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Scuffed Tinder</title>
</head>

<body>
	<h1>Create a Profile</h1>
	<form action="http://localhost:3000/createUser" method="post">
		<strong>Name: </strong><input type="text" name="name"><br>
        <strong>Email Address: </strong><input type="email" name="email"><br>
        <strong>Phone Number: </strong><input type="tel" name="phone"><br>
        <strong>Male</strong><input type="radio" name="gender" value="male">
        <strong>Female</strong><input type="radio" name="gender" value="female"><br>
        <strong>Age: </strong><input type="number" name="age" min="18"><br>
        <strong>Interests: </strong> <p>(Type each interest on a new line)</p><br>
        <textarea rows="6" cols="15" name="interests"></textarea><br>

		<br>
		<input type="reset" value="Clear">
		<input type="submit" value="Submit">
	</form>
</body>

</html>
