<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Scuffed Tinder</title>
</head>

<body>
	<h1>User Not Found</h1>
	<a href="index"><strong>HOME PAGE</strong></a>
</body>

</html>