<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Scuffed Tinder</title>
	<style>
        #title {
            color:hotpink;
            text-decoration-style:wavy;
            text-shadow: 2px 2px 5px pink;
            font-family: cursive;
        }

        #title:hover{
            color:deeppink
        }
    </style>
</head>

<body>
	<h1 id="title">Welcome to Scuffed Tinder</h1>
    <p>Logged in as <%- name %> ---- <a href="index">Log Out</a></p>
	<form action="/match" method="get">
        <input type="submit" value="Start Matching">
        <input type="hidden" value=<%- id %> name="id">
	</form>
</body>

</html>