<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Scuffed Tinder</title>
	
</head>

<body>
	<h1>User Not Found</h1>
	Try a different email or sign up now!
    <div><a href="signUp">Sign Up</a></div>
	<a href="/"><strong>HOME PAGE</strong></a>
</body>

</html>