<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Scuffed Tinder</title>
</head>

<body>
	<h1>Welcome to Scuffed Tinder</h1>
    <p>Logged in as <%- name %> ---- <a href="index">Log Out</a></p>
	<form action="http://localhost:3000/match" method="get">
        <input type="submit" value="Start Matching">
        <input type="hidden" value=<%- id %> name="id">
	</form>
</body>

</html>